.record-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
  border: 5px solid #20223C;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background-color: #151C34;
  color: #E5E5E5;
  align-self: center;

  .bio {
    display: flex;
    flex-direction: column;
    background-color: #29AD81;
    color: #E5E5E5;
    padding: 20px;
    text-align: center;

    h3 {
      font-family: Gravitas;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
    }

    .spotify-qr {
      width: 100%;
      height: 75px;
    }
  }

  .visual-intro {
    padding: 20px;
    height: 100%;
    position: relative;

    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 40px;
      font-family: Gravitas;
      text-align: center;
    }
  
    .logo {
      height: 365px;
      position: relative;

      .je {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 8px solid #E5E5E5;
      }

      .je-logo {
        transform: scale(0.75);
        stroke: #E5E5E5;
      }
    }

    .contact-me {
      display: flex;
      flex-direction: column;
      justify-content: center;

      ul {
        li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 10px 0;
        }

        .contact-item {
          margin-right: 10px;
          fill: #875d8d;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .record-wrapper {
    height: 600px;
    max-width: unset;
    /* width: 1200px; */
    width: 600px;
    align-items: stretch;

    .bio {
      max-width: 300px;
    }

    .visual-intro {
      flex-grow: 1;
      .title {
        position: absolute;
        transform: rotate(-90deg) translateX(-50%);
        bottom: -50px;
        top: 50%;
        transform-origin: 0 0;
        text-wrap: nowrap;
        text-align: unset;
      }

      .logo {
        margin-left: 50px;
        width: 500px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .record-wrapper {
    width: 1000px;
  }
}

@media only screen and (min-width: 1280px) {
  .record-wrapper {
    width: 1200px;
  }
}